/* 外部容器 */
.custom-dropdown {
    position: relative;
    width: 100%;
    max-width: 390px;
    font-family: Arial, sans-serif;
}

/* 下拉選單標題（選中的銀行） */
.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background: white;
    border-bottom:1px solid #e5e5e5;    
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.dropdown-header:hover {
    border-color: #2DD4BF;
}


/* 銀行圖示 */
.bank-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.selected-bank {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}


/* 下拉按鈕箭頭 */
.dropdown-icon {
    width:20px;
    height:20px;
    font-size: 18px;
    transition: transform 0.3s;
}

.dropdown-icon img{
    width:20px;
    height:20px;    
}

/* 選單展開時旋轉箭頭 */
/* .dropdown-header.active .dropdown-icon {
    transform: rotate(180deg);
} */

/* 下拉選單內容 */
.dropdown-list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow-y: auto;
    background: white;
    /* border: 1px solid #e5e5e5; */
    /* border-radius: 4px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* display: none; */
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 10;
    opacity: 0;
    transition: max-height 0.3s ease-out;
}

/* 選單展開 */
.dropdown-list.active {
    max-height: 200px;
    opacity: 1;
    /* display: block; */
}

/* 選單項目 */
.dropdown-list li {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    transition: background 0.3s;
}

.dropdown-list li:hover {
    background: #f0f0f0;
}
