/* 通知列表區域 */
.message-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top:8px;    
}

/* 外層包住 message & 刪除按鈕 */
.message-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* 單條訊息 */
.message {
    width:100%;
    background: white;
    /* border-radius: 20px; */
    padding: 16px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;    
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 確保垂直置中 */
    padding-bottom: 6px;
    text-align: right;
    border-bottom:1px solid #2DD4BF;
}
.message-header .message-type {
    font-size: 14px;
    font-weight: bold;
    color: #2DD4BF;
}
.message-header .message-time {
    font-size: 11px;
    color: #2DD4BF;
}

.message-body {
    padding-top: 6px;
    font-size: 16px;
}

.message-title {
    font-weight: bold;
    color: #555;
    padding:0;
    margin:4px;
}

.message-content {
    color: #555;
    padding:0;
    margin:4px;
}

/* 刪除按鈕 */
.delete-btn {
    position: absolute;
    right: -60px; /* 預設在外面 */
    width: 60px;
    height: 100%;
    background: red;
    color: white;
    border: none;
    /* border-radius: 8px; */
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}

/* 滑動時的 class */
.message-wrapper.swiped .message {
    transform: translateX(-60px);
}

.message-wrapper.swiped .delete-btn {
    right: 0;
}