@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

/* Sticky Header 設定 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px 20px;    
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #2DD4BF, #3B82F6);
}


/* Logo 區塊 */
.header .header-logo {
    display: flex;
    align-items: center;
}

.header .header-logo img {
    width: 48px;  /* 調整 Logo 大小 */
    height: 48px; /* 確保 Logo 等比例縮放 */
    object-fit: contain; /* 保持圖片完整 */
    border-radius:4px;
    padding-right:4px;
}

/* Title 樣式 */
.header .header-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 48px;
}

/* Menu 按鈕樣式 */
.header .header-btn-menu {
    font-size: 32px;
    cursor: pointer;
    color: #fff;
    line-height: 48px;
}

/* Hover 樣式 */
.header .header-btn-menu:hover {
    color: #fff; /* 可以自定義顏色 */
}






.container {
    max-width: 390px;
    margin: 10px auto;
    /* background: white; */
    padding: 20px;
    /* border-radius: 20px; */
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
}



.tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 6px;
}

.tab-button {
    flex: 1;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    color: #555;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.tab-button.active {
    background: #2DD4BF;
    color: white;
}

.content-box {
    /* background: #ffffff;
    border-radius: 15px; */
    padding: 0 20px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    text-align: left;
}

.section-logo {
    height:32px;
    width: 32px;
    padding:10px 4px 10px 0;
    object-fit: contain; /* 保持圖片完整 */
    border-radius:4px;
}

.section-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-top: 15px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.call-button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    background: #2DD4BF;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 122, 255, 0.3);
    transition: all 0.3s ease-in-out;
}

.call-button:active {
    background: #3B82F6;
    box-shadow: 0 8px 14px rgba(0, 91, 187, 0.3);
}

.text-center {
    text-align:center;
}

.text-memo {
    color: #2DD4BF;
    font-size: 0.85em;
}

.info-disabled {
    background: #f1f1f1;
    padding:1px 10px;
    margin:0;
    border-radius:4px;
}

a {
    color: #2DD4BF;
    text-decoration: none;
}
